# LaTeX temporary / auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.fdb-latexmk
*.toc
*.synctex.gz
*.toc
*.out
*.lof
*.lot
*.nav
*.snm
*.tex~   
*.pdf
*.bbl
*.bib
*.blg
# macOS system files
.DS_Store
*~        # Emacs / editor backups
